[submodule "src/molokai"]
	path = src/molokai
	url = https://github.com/kokakolako/molokai
    ignore = dirty
[submodule "plugins/tcomment_vim"]
	path = plugins/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
    ignore = dirty
[submodule "https:/github.com/bling/vim-airline"]
	path = https:/github.com/bling/vim-airline
	url = https://github.com/kokakolako/molokai
[submodule "molokai"]
	path = molokai
	url = https://github.com/kokakolako/molokai
[submodule "vim-airlineish"]
	path = vim-airlineish
	url = https://github.com/paranoida/vim-airlineish
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim-better-whitespace"]
	path = vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vim-smartinput"]
	path = vim-smartinput
	url = https://github.com/kana/vim-smartinput
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular
[submodule "vimcaps"]
	path = vimcaps
	url = https://github.com/suxpert/vimcaps
[submodule "vim-sneak"]
	path = vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vim-exchange"]
	path = vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "vim-markdown-folding"]
	path = vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding
[submodule "colorizer"]
	path = colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule "vim-abolish"]
	path = vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim-eunuch"]
	path = vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "wildfire.vim"]
	path = wildfire.vim
	url = https://github.com/gcmt/wildfire.vim
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-textobj-entire"]
	path = vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire
[submodule "vim-startify"]
	path = vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vim-vinegar"]
	path = vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim-hemisu"]
	path = vim-hemisu
	url = https://github.com/noahfrederick/vim-hemisu
[submodule "vim-dispatch"]
	path = vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "gundo.vim"]
	path = gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vim-ctrlspace"]
	path = vim-ctrlspace
	url = https://github.com/szw/vim-ctrlspace
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "gist.vim"]
	path = gist.vim
	url = https://github.com/Keithbsmiley/gist.vim
[submodule "limelight.vim"]
	path = limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "glowshi-ft.vim"]
	path = glowshi-ft.vim
	url = https://github.com/saihoooooooo/glowshi-ft.vim
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-closetag"]
	path = vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "rope-omni"]
	path = rope-omni
	url = https://github.com/rygwdn/rope-omni.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim-pandoc"]
	path = vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vim-jinja"]
	path = vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "plugins/molokai"]
	path = plugins/molokai
	url = https://github.com/kokakolako/molokai
[submodule "plugins/vim-airlineish"]
	path = plugins/vim-airlineish
	url = https://github.com/paranoida/vim-airlineish
[submodule "plugins/vim-textobj-user"]
	path = plugins/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "plugins/vim-better-whitespace"]
	path = plugins/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "plugins/vim-smartinput"]
	path = plugins/vim-smartinput
	url = https://github.com/kana/vim-smartinput
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "plugins/tabular"]
	path = plugins/tabular
	url = https://github.com/godlygeek/tabular
[submodule "plugins/vimcaps"]
	path = plugins/vimcaps
	url = https://github.com/suxpert/vimcaps
[submodule "plugins/vim-sneak"]
	path = plugins/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "plugins/vim-exchange"]
	path = plugins/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "plugins/vim-markdown-folding"]
	path = plugins/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding
[submodule "plugins/colorizer"]
	path = plugins/colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule "plugins/vim-abolish"]
	path = plugins/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "plugins/vim-eunuch"]
	path = plugins/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugins/vim-repeat"]
	path = plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "plugins/vim-surround"]
	path = plugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "plugins/vim-markdown"]
	path = plugins/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "plugins/vim-gitgutter"]
	path = plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "plugins/wildfire.vim"]
	path = plugins/wildfire.vim
	url = https://github.com/gcmt/wildfire.vim
[submodule "plugins/vim-pathogen"]
	path = plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "plugins/vim-textobj-entire"]
	path = plugins/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire
[submodule "plugins/vim-startify"]
	path = plugins/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "plugins/vim-vinegar"]
	path = plugins/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "plugins/vim-hemisu"]
	path = plugins/vim-hemisu
	url = https://github.com/noahfrederick/vim-hemisu
[submodule "plugins/vim-dispatch"]
	path = plugins/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "plugins/tagbar"]
	path = plugins/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "plugins/gundo.vim"]
	path = plugins/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "plugins/vim-ctrlspace"]
	path = plugins/vim-ctrlspace
	url = https://github.com/szw/vim-ctrlspace
[submodule "plugins/vim-indent-guides"]
	path = plugins/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "plugins/gist.vim"]
	path = plugins/gist.vim
	url = https://github.com/Keithbsmiley/gist.vim
[submodule "plugins/limelight.vim"]
	path = plugins/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "plugins/glowshi-ft.vim"]
	path = plugins/glowshi-ft.vim
	url = https://github.com/saihoooooooo/glowshi-ft.vim
[submodule "plugins/ctrlp.vim"]
	path = plugins/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "plugins/vim-closetag"]
	path = plugins/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "plugins/rope-omni"]
	path = plugins/rope-omni
	url = https://github.com/rygwdn/rope-omni.git
[submodule "plugins/YouCompleteMe"]
	path = plugins/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "plugins/vim-pandoc"]
	path = plugins/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "plugins/vim-jinja"]
	path = plugins/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "plugins/vim-tmux-navigator"]
	path = plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "plugins/tComment"]
	path = plugins/tComment
	url = https://github.com/vim-scripts/tComment
